{% extends 'base.html' %}

{% block content %}
<div class="background-gradient height-100 w-100">
    <main class = "container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Ducimus ipsum iure hic rem repudiandae quod ullam praesentium eos, eum porro tempora.
                Deleniti odit ab aliquid nemo eaque, quibusdam eveniet porro.</p>
                <div class="text-center">
                    <a class = "btn btn-secondary" href="/signin/">
                        ingresar
                    </a>
                    <a class = "btn btn-dark" href="/signup/">
                        Registrarse
                    </a>
                </div>
                
        </section>
    </main>
</div>
{% endblock %}